@model AndrewDemo.NetConf2023.Storefront.Shared.ViewModels.NotificationBannerViewModel
<section class="notification-banner notification-banner--@Model.Tone" aria-live="polite">
    <h2 class="notification-banner__title">@Model.Title</h2>
    <p class="notification-banner__message">@Model.Message</p>
</section>
